$chatHeight: 70%;
$chatWidth: 400px;
$gap: 13px;
$lightGrey: #eee;
$lightGrey2: #f1f1f1;
$grey: #777;
$headerHeight: 64px;

$color-main: #32ceba;
$color-main-darken: darken($color-main, 10%);
$color-error: #f13443;
$color-warning: #f1d134;
$color-info: #00c4ff;
$radius: 5px;

$bp-sm: 576px;
$bp-md: 768px;

* {
    font-family: sans-serif;
}
