<div id="wrapper" [class.collapsed]="collapsed">
    <div id="container">
        <app-wc-chat-header (collapse)="collapseToggle()" [collapsed]="collapsed"></app-wc-chat-header>
        <app-wc-chat-reset (reset)="resetConversation()"></app-wc-chat-reset>
        <app-wc-chat-messages-list #msgList [messages]="messages" (onClickRespuesta)="clickRespuesta($event)"></app-wc-chat-messages-list>
        <app-wc-chat-input-box (message)="newMessage($event)" [inputEnabled]="inputEnabled"></app-wc-chat-input-box>
    </div>
</div>